<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디/비밀번호 찾기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
<div class="main">
    <div class="subMain">
        <form th:action="@{/find/username}" method="post">
            <h2>아이디 찾기</h2>
            <div>
                <div class="form-id">
                    <label for="name"></label>
                    <input type="text" id="name" name="name" placeholder="이름" required><br>
                </div>
                <div class="form-email">
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="이메일" required><br>
                </div>
                <div class="find-btn">
                    <button type="submit">아이디 찾기</button>
                </div>
            </div>
        </form>
        <div class="horizon">또는</div>
        <form th:action="@{/find/password}" method="post">
            <h2>비밀번호 찾기</h2>
            <div>
                <div class="form-id">
                    <label for="userId"></label>
                    <input type="text" id="userId" name="userId" placeholder="아이디" required><br>
                </div>
                <div class="form-name">
                    <label for="name"></label>
                    <input type="text" id="name" name="name" placeholder="이름" required><br>
                </div>
                <div class="form-email">
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="이메일" required><br>
                </div>
                <div class="find-btn">
                    <button type="submit">비밀번호 찾기</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
